 %click-button-effect {
  transform: scale(1.2);
  opacity: 0.5
 }

img.table_icon {
  width: 1.0rem;
  height: 1.0rem;
  opacity: 1.0;
  @include media-breakpoint-up(lg) {
    width: 1.3rem;
    height: 1.3rem;
  } 
  &:hover { @extend %click-button-effect;}
}