<div id="birthdays-table" class="birthday-table">
  <!--div class="table-header">
    <div class="first-name">First Name</div>
    <div class="last-name">Last Name</div>
    <div class="birthday">Birthday</div>
    <div class="function"></div>
  </div-->
  <%= render partial: 'birthdays/birthday', collection: @birthdays %>
</div>


